@import "tailwindcss";

:root {
    --tile-y: 150;
    --tile-opacity: 0;
    --tile-duration: 400;
    --tile-stagger-amount: 1;
    --tile-stagger-index: 0;
    --section-padding: 230px;
    --section-content: 1074px;
    --section-content-wide: calc(100% - 100px);
    --tile-border-radius: 40px;
    --tile-padding: 45px;
    --tile-max-width: 300px;
}

body {
    min-width: 320px;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 29, 31);
    font-style: normal;
}

html {
    --global-height: 44px;
    --globalmessage-segment-height: 0px;
    --globalnav-segmentbar-height: 0px;
}

.section-hero {
    --homepod-bottom: -245px;
    position: relative;
    padding-bottom: 150px;
    margin-bottom: -150px;
    overflow: hidden;
}

.typography-headline-elevated {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.will-change .parallax-this {
    will-change: transform;
}

.section-hero-copy .typography-headline-elevated {
    text-align: center;
    padding-bottom: 35px;
    margin-top: 0px;
    background-clip: text;
    color: transparent;
    --gradient-color-1: #ff007a;
    --gradient-color-2: #1e76c9;
    --gradient-color-3: #35fced;
}

.section-hero-copy.hero-copy-v2 .parallax-0 {
    --gradient-color-1-start: 0%;
    --gradient-color-2-start: 85%;
    --gradient-color-3-start: 160%;
}

.section-hero-copy.hero-copy-v2 .parallax-this {
    --gradient-angle: 135deg;
    background-image: linear-gradient(var(--gradient-angle),
     var(--gradient-color-1) var(--gradient-color-1-start), 
     var(--gradient-color-2) var(--gradient-color-2-start), 
     var(--gradient-color-3) var(--gradient-color-3-start));
    margin-left: auto;
    margin-right: auto;
}


.section-in-the-car h2 {
    --tile-y: -150px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(15deg, rgb(56, 20, 121) 20%, rgb(61, 87, 145) 35%, rgb(128, 214, 225) 75%);
    padding-bottom: 10px;
}

.section-hero .siri-text {
    -webkit-mask: url(/images/logos/hero_siri_large.svg);
    mask: url(/images/logos/hero_siri_large.svg);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 384px;
    height: 218px;
    margin-left: -10px;
    z-index: 10;
    background: linear-gradient(121deg, #FE0576 24%, #EA12B6 40%, #38CBFF 60%);
    background-size: 300% 100%;
    animation: gradient 3s cubic-bezier(0.33,1,0.68,1) forwards;
}

.text-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.typography-scenario-intro-copy {
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.typography-headline {
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 1441px) {
    :root {
        --section-content-wide: 1344px;
    }
}

.typography-section-headline {
    font-size: 260px;
    line-height: .6923076923;
    font-weight: 600;
    letter-spacing: -0.0031em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 1068px) {
    .typography-section-headline {
        font-size: 172px;
        line-height: .6984344186;
    }
}

@media only screen and (max-width: 734px) {
    .typography-section-headline {
        font-size: 82px;
        line-height: .8048780488;
    }
}

.section-on-the-go {
    --main-tile-height: 504px;
}

.section-in-the-car {
    --final-img-height: 410px;
}

.section-in-the-kitchen {
    --main-tile-height: 650px;
    --final-img-height: 300px;
}

@media only screen and (min-width: 1441px) {
    .section-in-the-car {
        --final-img-height: 450px;
    }
}

.section-working-out {
    --main-tile-height: 542px;
    --hardware-x-offset: -225px;
}