<section class="section apple-intelligence overflow-hidden rounded-bl-[20px] rounded-br-[20px] md:rounded-bl-[60px] md:rounded-br-[60px] pt-[80px] mt-[60px] md:pt-[170px] md:mt-[150px] bg-black text-white"> 
    <div class="apple-intelligence-content ml-auto mr-auto"> 
        <div class="relative pl-[var(--tile-padding)] pr-[var(--tile-padding)]">
            <h2 class="apple-intelligense-title">
                <span class="text-hidden">
                    Apple Intelligence
                </span>
                <picture class="overview-logo-apple-intelligense">
                    <source srcset="/images/logos/apple_intelligence_small.png" media="(max-width:734px)">
                    <source srcset="/images/logos/apple_intelligence_medium.png" media="(max-width:1068px)">
                    <img src="/images/logos/apple_intelligence_large.png" alt="Apple Intelligence">
                </picture>
            </h2>
            <p data-text-zoom-max="1.2" class="typography-section-headline headline pb-[30px] md:pb-0">
                All-new powers.
            </p>
            <div class="md:max-w-[77ch] ml-0 md:ml-[16%] mt-[.8em]">
                <p class="typography-scenario-intro-copy mt-5 text-[#86868b]">
                    With the capabilities provided by Apple Intelligence, 
                    this year marks the start of a new era for Siri. Get 
                    things done effortlessly with built-in intelligence 
                    features that make Siri more helpful to you every day.
                </p>
                <a
                    aria-label="Learn more about Apple Intelligence"
                    title="Learn more about Apple Intelligence"
                    href="https://www.apple.com/apple-intelligence/" 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    class="no-underline inline-block mt-[1.5em] cta-text">
                    <span class="text-blue-500 inline-flex">
                        Learn more about Apple Intelligence
                        <img src="/images/logos/chevron-arrow.png" alt="Learn more about Apple Intelligence Arrow"/>
                    </span>
                </a>
                <div class="badge-wrapper mt-12">
                    <span class="typography-intelligence-badge inline-block box-border whitespace-nowrap text-orange-500 bg-amber-950 rounded-md py-1 px-1.5 md:px-1.5 md:py-2">
                        Available now*
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="apple-intelligence-image-content flex justify-center mt-14 md:mt-31.5">
        <picture class="overview-routers-apple-intelligence">
            <source srcset="/images/accessories/routers_apple_intelligence_small.jpg" media="(max-width:734px)">
            <source srcset="/images/accessories/routers_apple_intelligence_medium.jpg" media="(max-width:1068px)">
            <img src="/images/accessories/routers_apple_intelligence_large.jpg" alt="Apple Intelligence">
        </picture>
    </div>
</section>

<style>
    .overview-logo-apple-intelligense {
        display: block;
        width: var(--width);
        height: var(--height);
        --width: 487px;
        --height: 60px;
    }

    .apple-intelligence .headline {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        background-image: linear-gradient(108deg, #0894FF, #C959DD 34%, #FF2E54 68%, #FF9004);
        padding: 10px 0 55px;
        margin-top: .25em;
    }

    .apple-intelligence-content {
        width: var(--section-content);
    }

    .typography-scenario-intro-copy {
        font-size: 28px;
        line-height: 1.1428571429;
        font-weight: 600;
        letter-spacing: .007em;
        font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    .cta-text {
        font-size: 21px;
        line-height: 1.1904761905;
        font-weight: 400;
        letter-spacing: .011em;
        font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    .typography-intelligence-badge {
        font-size: 17px;
        line-height: 1.2353641176;
        font-weight: 600;
        letter-spacing: -0.001em;
        font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    .overview-routers-apple-intelligence {
        display: block;
        width: var(--width);
        height: var(--height);
        --width: 790px;
        --height: 617px;
    }

    @media only screen and (max-width: 1068px) {
        .apple-intelligence-content {
            max-width: 900px;
        }

        .typography-scenario-intro-copy {
            font-size: 19px;
            line-height: 1.21;
            letter-spacing: .012em;
        }

        .cta-text {
            font-size: 17px;
            line-height: 1.23;
            font-weight: 400;
            letter-spacing: -0.022em;
        }

        .apple-intelligence .badge-wrapper {
            margin-top: 30px;
        }

        .typography-intelligence-badge {
            font-size: 12px;
            line-height: 1.3333733333;
            letter-spacing: -0.01em;
        }

        .apple-intelligence .apple-intelligence-content {
            margin-top: 80px;
        }
    }

    @media only screen and (max-width: 734px) {
        .section-apple-intelligence .apple-intelligence-content {
            max-width: var(--tile-max-width);
        }

        .typography-scenario-intro-copy {
            font-size: 17px;
            line-height: 1.1;
            letter-spacing: -0.001em;
        }

        .apple-intelligence .headline {
            padding-bottom: 30px;
            margin-top: 0;
        }

        .apple-intelligence .apple-intelligence-image-content {
            margin-top: 60px;
        }
    }

    @media only screen and (max-width: 1068px) and (max-width: 1068px) {
        .overview-routers-apple-intelligence {
            --width: 858px;
            --height: 443px;
        }
    }

    @media only screen and (max-width: 734px) and (max-width: 734px) {
        .overview-routers-apple-intelligence {
            --width: 85%;
            --height: 283px;
        }
    }

    @media only screen and (max-width: 1200px) and (max-width: 734px) {
        .apple-intelligence-content {
            margin-left: auto;
            margin-right: auto;
            width: 93.5%;
        }
    }
</style>