---
const { bgDark } = Astro.props;
---

<div class={`parallax-this ${bgDark ? 'bg-gradient-to-br from-[#0C0C21] from-25% to-[#1C4262]' : 'bg-white'} grid box-border rounded-[var(--tile-border-radius)] overflow-hidden z-10 min-h-[750px] col-span-6`}>
    <slot />
</div>