---
import "@/styles/heroSection.css";
import HeroImages from "./HeroImages.astro";
import HeroCopy from "./HeroCopy.astro";
---

<section class="section section-hero will-change" data-component-list="Parallax" data-anim-scroll-group="Section: Hero">
    <HeroImages />
    <HeroCopy />
</section>

<style>

</style>