<div class="section-hero-images">
	<div class="col">
		<picture id="overview-hero-airpods1" class="overview-hero-airpods airpods animate">
			<source srcset="/images/accessories/hero/hero_airpods_small.jpg" media="(max-width:734px)"> 
			<source srcset="/images/accessories/hero/hero_airpods_medium.jpg" media="(max-width:1068px)">
			<source srcset="/images/accessories/hero/hero_airpods_large.jpg" media="(min-width:0px)">
			<img src="/images/accessories/hero/hero_airpods_large.jpg" alt="AirPods">
		</picture>
		<picture id="overview-hero-ipad1" class="overview-hero-ipad ipad animate">
			<source srcset="/images/accessories/hero/hero_ipad_small.jpg" media="(max-width:734px)"> 
			<source srcset="/images/accessories/hero/hero_ipad_medium.jpg" media="(max-width:1068px)">
			<source srcset="/images/accessories/hero/hero_ipad_large.jpg" media="(min-width:0px)">
			<img src="/images/accessories/hero/hero_ipad_large.jpg" alt="iPad">
		</picture>
	</div>
	<div class="col">
		<picture class="overview-hero-iphone iphone animate">
			<source srcset="/images/accessories/hero/hero_iphone_small.jpg" media="(max-width:734px)"> 
			<source srcset="/images/accessories/hero/hero_iphone_medium.jpg" media="(max-width:1068px)">
			<source srcset="/images/accessories/hero/hero_iphone_large.jpg" media="(min-width:0px)">
			<img src="/images/accessories/hero/hero_iphone_large.jpg" alt="iPhone">
		</picture>
		<div class="siri-text" role="heading">
			<h1 class="text-hidden">Siri</h1>
		</div>
		<picture class="overview-hero-homepod-mini homepod animate">
			<source srcset="/images/accessories/hero/hero_homepod_mini_small.jpg" media="(max-width:734px)"> 
			<source srcset="/images/accessories/hero/hero_homepod_mini_medium.jpg" media="(max-width:1068px)">
			<source srcset="/images/accessories/hero/hero_homepod_mini_large.jpg" media="(min-width:0px)">
			<img src="/images/accessories/hero/hero_homepod_mini_large.jpg" alt="HomePod">
		</picture>
	</div>
	<div class="col">
		<picture class="overview-hero-watch watch animate">
			<source srcset="/images/accessories/hero/hero_watch_small.jpg" media="(max-width:734px)"> 
			<source srcset="/images/accessories/hero/hero_watch_medium.jpg" media="(max-width:1068px)">
			<source srcset="/images/accessories/hero/hero_watch_large.jpg" media="(min-width:0px)">
			<img src="/images/accessories/hero/hero_watch_large.jpg" alt="Apple Watch">
		</picture>
		<picture class="overview-hero-apple-tv apple-tv animate">
			<source srcset="/images/accessories/hero/hero_apple_tv_small.jpg" media="(max-width:734px)"> 
			<source srcset="/images/accessories/hero/hero_apple_tv_medium.jpg" media="(max-width:1068px)">
			<source srcset="/images/accessories/hero/hero_apple_tv_large.jpg" media="(min-width:0px)">
			<img src="/images/accessories/hero/hero_apple_tv_large.jpg" alt="Apple TV">
		</picture>
	</div>
</div>