---
import BgGradientSection from "./BgGradientSection.astro";
import Card from "./Card.astro";
---

<BgGradientSection 
    className="section-in-the-car" 
    bg="gradient-bg-blue" 
    spanBgClass="gradient-bg-in-the-car"
    height="74.93091196210028%"
>
    <div class="static w-[var(--section-content)] mr-auto ml-auto">
        <div class="relative pl-[var(--tile-padding)] pr-[var(--tile-padding)]">
            <h2 class="typography-section-headline headline bg-gradient-to-tr from-[#381479] from-20% via-[#3D5791] via-35% to-[#80D6E1] to-75% bg-clip-text text-transparent pb-2.5">
                In the
                <br>
                car.
            </h2>
        </div>
        <div class="grid-main static mb-6 pl-0 pr-0 ml-auto mr-auto grid grid-cols-12 gap-x-6 gap-y-6 px-6">
            <div class="container-car-copy 2xl:max-h-[160px] max-h-[192px] w-[575px] 2xl:pr-[var(--tile-padding)] pr-0 mt-[-105px] col-start-7 parallax-this fade-it text-[#4e4e52] mb-[70px] row-span-1" style="opacity: 1;"> 
                <p class="2xl:max-w-[unset] max-w-[440px] mb-0 typography-scenario-intro-copy">
                    Drive safer with Siri. Use the button on your wheel with CarPlay
                    or just your voice to get directions, make calls, and let friends 
                    know when you’ll arrive. All while you keep your eyes on the road.
                </p>
            </div>
            <div class="main-tile bg-white w-full h-full pb-0 z-1 static grid col-start-1 col-end-13 row-start-2 row-end-3 box-border min-h-[var(--main-tile-height)] rounded-[var(--tile-border-radius)] px-[var(--tile-padding)] ml-auto mr-auto gap-x-6 gap-y-6 grid-cols-12">
                <div class="hey-siri col-start-7 col-end-12 self-start max-w-[450px] pb-[var(--final-img-height)] pr-0 md:flex md:flex-col md:justify-center md:self-center">
                    <picture class="overview-car-mic mb-5 block">
                        <source srcset="/images/logos/car_mic_medium.png" media="(max-width:1068px)">
                        <source srcset="/images/logos/car_mic_large.png" media="(max-width: 0px)">
                        <img src="/images/logos/car_mic_large.png" alt="Car Mic">
                    </picture>
                    <h3 id="inTheCarRef" class="typography-headline-elevated text-[#1d1d1f]">
                        Give me directions home
                    </h3>
                </div>
                <div class="image-wrapper will-change-transform absolute left-0 z-[100] w-full origin-top pointer-events-none h-auto">
                    <picture class="overview-car-carplay max-w-full block">
                        <source srcset="/images/logos/car_carplay_small.jpg" media="(max-width:734px)">
                        <source srcset="/images/logos/car_carplay_medium.jpg" media="(max-width: 1068px)">
                        <source srcset="/images/logos/car_carplay_large.jpg" media="(max-width: 1440px)">
                        <source srcset="/images/logos/car_carplay_xlarge.jpg" media="(min-width: 0px)">
                        <img src="/images/logos/car_carplay_xlarge.jpg" alt="Car Carplay">
                    </picture>
                </div>
            </div>
        </div> 
        <div id="bgRef" class="relative bottom-36"></div>

        <div class="static pl-0 pr-0 ml-auto mr-auto grid grid-cols-12 gap-x-6 gap-y-6 px-6">
            <Card id="card-light-bg">
                <div class="p-[var(--tile-padding)]">
                    <picture class="text-white mb-5 overview-go-quote-dark-bg block">
                        <source srcset="/images/logos/car_quote_light_bg_small.png" media="(max-width:734px)"> 
                        <source srcset="/images/logos/car_quote_light_bg_medium.png" media="(max-width:1068px)">
                        <img src="/images/logos/car_quote_light_bg_large.png" alt="Hey Siri">
                    </picture>
                    <h3 class="typography-headline">
                        <span class="bg-gradient-to-br from-[#381479] via-[#3D5791] to-[#80D6E1] [background-angle:22deg] bg-clip-text text-transparent">Siri,</span>
                        call <br> Vivian Chou
                    </h3>
                </div>
                <picture class="flex self-end justify-center overview-go-title-1">
                    <source srcset="/images/logos/car_tile_1_small.jpg" media="(max-width:734px)"> 
                    <source srcset="/images/logos/car_tile_1_medium.jpg" media="(max-width:1068px)">
                    <img src="/images/logos/car_tile_1_large.jpg" alt="Go">
                </picture>
            </Card>
            <Card id="card-dark-bg" bgDark>
                <div class="p-[var(--tile-padding)]">
                    <picture class="text-white mb-5 overview-go-quote-dark-bg block">
                        <source srcset="/images/logos/car_quote_dark_bg_small.png" media="(max-width:734px)"> 
                        <source srcset="/images/logos/car_quote_dark_bg_medium.png" media="(max-width:1068px)">
                        <img src="/images/logos/car_quote_dark_bg_large.png" alt="Hey Siri">
                    </picture>
                    <h3 class="typography-headline text-white">
                        <span class="bg-gradient-to-b from-[#C8FFF7] to-[#84AAFF] [background-position:-10%_80%] bg-clip-text text-transparent">Siri,</span>
                        share my <br> ETA with Antonio
                    </h3>
                </div>
                <picture class="inline-flex justify-center pb-[var(--tile-padding)] self-start">
                    <source srcset="/images/logos/car_tile_2_small.png" media="(max-width:734px)"> 
                    <source srcset="/images/logos/car_tile_2_medium.png" media="(max-width:1068px)">
                    <img src="/images/logos/car_tile_2_large.png" alt="Go">
                </picture>
            </Card>
        </div>
    </div>
</BgGradientSection>

<script>
    import { createBackgroundOpacityObserver } from "@/utils/backgroundOpacityObserve";
    import { setupParallaxEffect } from "@/utils/parallaxEffect";

    setupParallaxEffect({
        selector: '.container-car-copy',
        startElevation: 0,
        endElevation: 0,
        easingFactor: 0.1,
        progressScale: 0.999,
        type: 'opacity'
    });

    setupParallaxEffect({
        selector: '#card-light-bg',
        startElevation: 40,
        endElevation: 0,
        easingFactor: 0.1,
        progressScale: 3.5,
        type: 'translate'
    });

    setupParallaxEffect({
        selector: '#card-dark-bg',
        startElevation: 100,
        endElevation: 0,
        easingFactor: 0.1,
        progressScale: 3.5,
        type: 'translate'
    });

    const image = document.querySelector('.image-wrapper') as HTMLElement;
    const refElement = document.querySelector('#inTheCarRef') as HTMLElement;

    const initial = {
        scale: 1,
        translateX: 0,
        translateY: 0,
    };

    const final = {
        scale: 0.56378,
        translateX: 0.5,
        translateY: 461,
    };

    const scrollStart = 0;
    const scrollEnd = window.innerHeight;

    window.addEventListener('scroll', () => {
        const rect = refElement.getBoundingClientRect();
        const scrollPos = rect.top + 250;

        let ratio = (scrollEnd - scrollPos) / (scrollEnd - scrollStart) * 3;
        ratio = Math.max(0, Math.min(1, ratio));

        const scale = initial.scale + (final.scale - initial.scale) * ratio;
        const translateX = initial.translateX + (final.translateX - initial.translateX) * ratio;
        const translateY = initial.translateY + (final.translateY - initial.translateY) * ratio;

        image.style.transform = `matrix(${scale}, 0, 0, ${scale}, ${translateX}, ${translateY})`;
    });


    createBackgroundOpacityObserver(
        '.gradient-bg-in-the-car',  
        '#bgRef'            
    );

</script>

<style>
    .headline {
        --tile-y: -150px;
    }

    .grid-main {
        -webkit-clip-path: unset;
        clip-path: unset;
    }

    .copy-container {
        --y-offset: -105px;
    }

    .overview-car-mic {
        width: var(--width);
        height: var(--height);
        --width: 46px;
        --height: 46px;
    }

    .image-wrapper {
        transition: transform 0.2s ease-out;
    }

    .image-wrapper picture img {
        -webkit-mask-image: url('/images/logos/car_carplay_mask_xlarge.png');
        mask-image: url('/images/logos/car_carplay_mask_xlarge.png');
        -webkit-mask-size: cover;
        mask-size: cover;
        border-radius: 0 0 var(--tile-border-radius) var(--tile-border-radius);
        max-width: 100%;
    }

    .main-tile {
        -webkit-clip-path: inset(-100vh -100vw round var(--tile-border-radius));
        clip-path: inset(-100vh -100vw round var(--tile-border-radius));
        --main-tile-height: 714px;
    }

    .image-wrapper {
        top: 604px;
        --scroll-offset: 10vh;
        --image-offset: 100px;
    }

    .overview-car-carplay {
        width: var(--width);
        height: var(--height);
        --width: 1440px;
        --height: 684px;
    }

    .overview-car-tile-2 {
        width: var(--width);
        height: var(--height);
        --width: 424px;
        --height: 84px;
    }

    @media only screen and (min-width: 1441px) {
        .main-tile {
            --main-tile-height: 780px;
        }

        .image-wrapper {
            top: 518px;
            --scroll-offset: 0;
        }
    }

    @media only screen and (min-width: 1441px) and (min-width: 1441px) {
        .overview-car-carplay {
            --width: 3008px;
            --height: 1543px;
        }
    }
</style>